body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f0f8ff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightblue;
  border: none;
  border-radius: 8px;
}
#message {
  margin-top: 20px;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
}
#message {
  margin-top: 20px;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
}
